
<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
    <title>Flask Chart.js drilldown example project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Flask Application</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='pictures/favicon.ico') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
        .nav-pills > li.active > a, .nav-pills > li.active > a:focus {
            color: black;
            background-color: #fcd900;
        }

            .nav-pills > li.active > a:hover {
                background-color: #efcb00;
                color: black;
            }
    </style>
</head>

<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

            <!-- Common menu -->
            <ul class="nav nav-pills navbar-dark" style="
                color: #343a40 !important;
                ">
                <li class="nav-item ">
                    <a class="nav-link active bg-dark" href="{{ url_for('main') }}">Strona główna</a></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active bg-dark" href="">Profil {{session['user_name']}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active bg-dark" href="">Spis żołnierzy</a>
                </li>



                <li class="nav-item">
                    <a class="nav-link active bg-dark" href="">Wyloguj</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active bg-dark" href="">Zaloguj</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active bg-dark" href="">Zarejestruj sie</a>
                </li>


            </ul>


        </div>
    </div>
        {% block content %}
    {% endblock %}
</body>
</html>